/**
* Vendors
*/
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/inter-v11-latin-regular.woff2") format("woff2"), url("/fonts/inter-v11-latin-regular.woff") format("woff");
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("/fonts/inter-v11-latin-500.woff2") format("woff2"), url("/fonts/inter-v11-latin-500.woff") format("woff");
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/fonts/inter-v11-latin-700.woff2") format("woff2"), url("/fonts/inter-v11-latin-700.woff") format("woff");
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/montserrat-v23-latin-regular.woff2") format("woff2"), url("/fonts/montserrat-v23-latin-regular.woff") format("woff");
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("/fonts/montserrat-v23-latin-500.woff2") format("woff2"), url("/fonts/montserrat-v23-latin-500.woff") format("woff");
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/fonts/montserrat-v23-latin-700.woff2") format("woff2"), url("/fonts/montserrat-v23-latin-700.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  font-size: 100%;
  color: #000;
}

body {
  height: 100%;
  min-width: 20rem;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Inter", "Montserrat", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: #FFF;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

picture {
  line-height: 0;
}

img {
  display: block;
  line-height: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  margin: 0 0 1.875rem 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.875rem;
  color: #FFF;
  text-transform: uppercase;
}

h2 {
  margin: 0 0 1.875rem 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.125rem;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 1024px) {
  h2 {
    margin: 0 0 1.25rem 0;
    font-size: 1.875rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.625rem;
  }
}

h3 {
  margin: 0 0 30px 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #A57F7A;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
}

li {
  color: inherit;
}

input {
  padding: 0.3125rem 0;
  background-color: transparent;
  border: none;
  border-bottom: 0.0625rem solid #B2BEC0;
  outline: none;
}

select {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.0625rem solid #B2BEC0;
}

.btn {
  padding: 0.625rem 2.5rem;
  color: #000;
  border: none;
  border-radius: 0.1875rem;
  background-color: #B2BEC0;
  outline: none;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn:hover {
  color: #FFF;
  background-color: #A57F7A;
}

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1.25rem);
            transform: translateY(1.25rem);
  }
}

@keyframes arrow-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1.25rem);
            transform: translateY(1.25rem);
  }
}
.icon--phone {
  width: 1.125rem;
  height: 1.125rem;
}
.icon--social, .icon--facebook, .icon--instagram, .icon--linkedin, .icon--twitter, .icon--youtube, .icon--chevron-down, .icon--home {
  width: 1.5rem;
  height: 1.5rem;
}

.container {
  position: relative;
  max-width: 93.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.875rem;
}

.contform__fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contform__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 767px) {
  .contform__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.contform__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 3.125rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .contform__label {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 480px) {
  .contform__label {
    font-size: 0.75rem;
  }
}
.contform__label:not(:last-child) {
  margin-right: 1.875rem;
}
@media (max-width: 767px) {
  .contform__label:not(:last-child) {
    margin-right: 0;
  }
}
.contform__input {
  width: 100%;
  font-size: 1.125rem;
}
@media (max-width: 480px) {
  .contform__input {
    font-size: 1rem;
  }
}
.contform__select {
  width: 100%;
  padding-top: 0.5625rem;
  font-size: 1.125rem;
}
@media (max-width: 480px) {
  .contform__select {
    font-size: 1rem;
  }
}
.contform__textarea {
  background-color: transparent;
  resize: none;
  margin-top: 0.625rem;
  font-size: 1.125rem;
}
@media (max-width: 480px) {
  .contform__textarea {
    font-size: 1rem;
  }
}
.contform__btn {
  line-height: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 2.1875rem;
}
@media (max-width: 480px) {
  .contform__btn {
    width: 100%;
  }
}

.iti__flag {
  background-image: url("/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/img/flags@2x.png");
  }
}

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  padding: 0 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  -webkit-box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
  .header {
    min-height: 3.125rem;
    padding: 0 1.875rem;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 12.5rem;
  }
}
.header__bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 0.5rem;
  color: #2A3D40;
  border: 0.0625rem solid #B2BEC0;
  font-size: 1.125rem;
}
@media (max-width: 1024px) {
  .header__bar {
    border: none;
    padding: 0;
  }
}
.header__bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #A57F7A;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__bar:hover {
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__bar:hover::before {
  width: 100%;
}
.header__bar:hover svg, .header__bar:hover span {
  color: #FFF;
}
.header__bar svg {
  margin-right: 0.625rem;
  color: #A57F7A;
}
@media (max-width: 1024px) {
  .header__bar p {
    display: none;
  }
}
.header__bar span {
  margin-left: 0.5rem;
  font-style: italic;
  color: #A57F7A;
}
@media (max-width: 1024px) {
  .header__bar span {
    display: none;
  }
}

.hero {
  position: relative;
  padding-top: 15.625rem;
  padding-bottom: 16.875rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .hero {
    padding-top: 10.625rem;
    padding-bottom: 10.625rem;
  }
}
@media (max-width: 480px) {
  .hero {
    padding-top: 8.125rem;
    padding-bottom: 8.75rem;
  }
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#565656), color-stop(93.99%, rgba(116, 116, 116, 0.1)));
  background: linear-gradient(90deg, #565656 0%, rgba(116, 116, 116, 0.1) 93.99%);
  mix-blend-mode: multiply;
}
.hero__content {
  max-width: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .hero__h1 {
    font-size: 2.25rem;
  }
}
@media (max-width: 480px) {
  .hero__h1 {
    font-size: 1.75rem;
  }
}
.hero__text {
  font-family: "Inter";
  color: #FFF;
  margin-bottom: 2.5rem;
  font-size: 1.75rem;
}
@media (max-width: 767px) {
  .hero__text {
    font-size: 1.4375rem;
  }
}
@media (max-width: 480px) {
  .hero__text {
    font-size: 1.25rem;
  }
}

.offer {
  padding: 5.625rem 0 4.6875rem 0;
}
@media (max-width: 1024px) {
  .offer {
    padding: 3.75rem 0;
  }
}
.offer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .offer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.offer__content {
  padding-right: 1.875rem;
}
@media (max-width: 1024px) {
  .offer__content {
    -ms-grid-row: 1;
    grid-row: 1;
    margin-bottom: 1.875rem;
  }
}
.offer__h2 span {
  color: #A57F7A;
}
.offer__text {
  font-size: 1.25rem;
  color: #2A3D40;
}
@media (max-width: 1024px) {
  .offer__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .offer__text {
    font-size: 1rem;
  }
}

.myslider {
  background-color: #2A3D40;
  padding: 5.625rem 0 0 0;
}
@media (max-width: 767px) {
  .myslider {
    padding-top: 4.375rem;
  }
}
.myslider__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 2.5rem;
}
.myslider__h2 {
  margin: 0 2.5rem;
  color: #B2BEC0;
}
.myslider__img {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.25rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  height: 0.625rem;
  color: #B2BEC0;
  outline: none;
}

.swiper-container {
  position: relative;
  max-width: 111.25rem;
  padding: 6.25rem 0 11.25rem 0;
}
@media (max-width: 767px) {
  .swiper-container {
    padding: 7.5rem 0 9.375rem 0;
  }
}
@media (max-width: 480px) {
  .swiper-container {
    padding: 5rem 0 9.375rem 0;
  }
}

.swiper-slide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.swiper-slide img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.swiper-slide-prev,
.swiper-slide-next {
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(0);
          filter: blur(0);
}

.swiper-slide-active {
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: none;
          filter: none;
}
.swiper-slide-active img {
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
}

.contacts {
  padding: 8.75rem 0 7.5rem 0;
  background-color: #F6F6F6;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 5.625rem 0 5.625rem 0;
  }
}
@media (max-width: 480px) {
  .contacts {
    padding: 4.375rem 0 3.75rem 0;
  }
}
.contacts__container {
  margin-bottom: 2.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__text {
  max-width: 63.75rem;
  color: #4C5A60;
  font-size: 1.25rem;
  text-align: center;
}
@media (max-width: 767px) {
  .contacts__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .contacts__text {
    font-size: 1rem;
  }
}
.contacts__form-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1.875rem 7fr;
  grid-template-columns: 5fr 7fr;
  gap: 1.875rem;
}
@media (max-width: 1024px) {
  .contacts__form-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.contacts__img-wrapper {
  -ms-grid-column-align: center;
      justify-self: center;
}
.contacts__img {
  max-width: 15.625rem;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .contacts__img {
    max-width: 9.375rem;
  }
}

.footer {
  padding: 2.5rem 0 4.375rem;
  color: #FFF;
  font-size: 0.9375rem;
  background-color: #2A3D40;
}
@media (max-width: 480px) {
  .footer {
    padding: 1.875rem 0 2.5rem;
    font-size: 0.8125rem;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__text {
  margin-right: 5rem;
}
@media (max-width: 1024px) {
  .footer__text {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }
}
.footer__link {
  position: relative;
  margin-right: auto;
  color: #FFF;
}
@media (max-width: 1024px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }
}
.footer__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0.3125rem;
  width: 0;
  height: 1px;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__link:hover {
  color: #B2BEC0;
}
.footer__link:hover::after {
  width: 100%;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials-text {
  color: #B2BEC0;
  margin-right: 1.875rem;
}
@media (max-width: 480px) {
  .footer__socials-text {
    margin-right: 1.25rem;
  }
}
.footer__socials-link {
  color: #B2BEC0;
}
.footer__socials-link:hover {
  color: #FFF;
}
.footer__socials-link:not(:last-child) {
  margin-right: 1.5rem;
}
@media (max-width: 480px) {
  .footer__socials-link:not(:last-child) {
    margin-right: 1rem;
  }
}

.header1 {
  background-color: #2A3D40;
}
@media (max-width: 767px) {
  .header1 {
    padding: 0 1.875rem;
    min-height: 3.125rem;
  }
}
.header1__logo {
  max-height: 2rem;
  width: auto;
}
@media (max-width: 767px) {
  .header1__logo {
    max-height: 1.5rem;
  }
}
@media (max-width: 480px) {
  .header1__logo {
    max-height: 1.25rem;
  }
}
.header1__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-right: 2.8125rem;
}
@media (max-width: 767px) {
  .header1__link {
    margin-right: 0;
  }
}
.header1__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0.0625rem;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header1__link:hover {
  color: #B2BEC0;
}
.header1__link:hover::after {
  width: 100%;
}
.header1__icon {
  display: none;
}
@media (max-width: 767px) {
  .header1__icon {
    display: block;
  }
}
.header1__phone {
  letter-spacing: 0;
  margin-right: 0;
}
.header1__phone svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
@media (max-width: 767px) {
  .header1__text {
    display: none;
  }
}

.policy-hero {
  position: relative;
}
.policy-hero__img {
  max-height: 61.25rem;
}
.policy-hero__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.policy-hero__h1 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 767px) {
  .policy-hero__h1 {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .policy-hero__h1 {
    font-size: 1.125rem;
  }
}
.policy-hero__link {
  color: #FFF;
  -webkit-animation: arrow-down 1s alternate ease-out infinite;
          animation: arrow-down 1s alternate ease-out infinite;
}
.policy-hero__link:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@media (max-width: 1024px) {
  .policy-hero__link {
    display: none;
  }
}

.policy-content {
  padding: 7.5rem 0;
}
@media (max-width: 1024px) {
  .policy-content {
    padding: 5rem 0;
  }
}
@media (max-width: 480px) {
  .policy-content {
    padding: 3.75rem 0;
  }
}
.policy-content__container {
  max-width: 56.25rem;
  padding: 0 1.5625rem;
  margin: 0 auto;
}
.policy-content__h2 {
  margin-bottom: 1.5625rem;
  color: #2A3D40;
  font-size: 1.4375rem;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 1024px) {
  .policy-content__h2 {
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 480px) {
  .policy-content__h2 {
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
}
.policy-content__text {
  margin-bottom: 2.5rem;
  font-family: Montserrat;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
@media (max-width: 1024px) {
  .policy-content__text {
    margin-bottom: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}
@media (max-width: 480px) {
  .policy-content__text {
    margin-bottom: 1.5625rem;
    font-size: 0.8125rem;
    line-height: 1.0625rem;
  }
}
.policy-content__contacts {
  padding-top: 1.25rem;
  font-family: Montserrat;
  font-weight: 700;
}
@media (max-width: 767px) {
  .policy-content__contacts {
    padding-top: 0.9375rem;
    font-size: 0.875rem;
  }
}
@media (max-width: 480px) {
  .policy-content__contacts {
    padding-top: 0.625rem;
    font-size: 0.8125rem;
  }
}

.thanks {
  position: relative;
  min-height: 100%;
  height: auto;
  margin-top: -8.625rem;
}
@media (max-width: 1024px) {
  .thanks {
    margin-top: -11.0625rem;
  }
}
@media (max-width: 480px) {
  .thanks {
    margin-top: -8.3125rem;
  }
}
.thanks__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 38.75rem;
  width: 100%;
  padding: 0 1.875rem;
}
.thanks__h1 {
  color: #000;
  text-align: left;
  text-transform: none;
}
@media (max-width: 767px) {
  .thanks__h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .thanks__h1 {
    font-size: 1.875rem;
  }
}
.thanks__message {
  color: #2A3D40;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
}
@media (max-width: 480px) {
  .thanks__message {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}