/**
* Vendors
*/


// Base
@import "base/functions";
@import "base/variables";
@import "base/fonts";
@import "base/generic";
@import "base/animation";


// Blocks
@import "blocks/icon";
@import "blocks/container";
@import "blocks/contform";
@import "blocks/iti";



//Layout Index
@import "layout/header";
@import "layout/hero";
@import "layout/offer";
@import "layout/myslider";
@import "layout/contacts";
@import "layout/footer";

//Layout Privacy Policy
@import "layout/header1";
@import "layout/policy";

//Layout Thanks
@import "layout/thanks";