/* inter-regular - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url('#{$font-path}/inter-v11-latin-regular.woff2') format('woff2'),
	url('#{$font-path}/inter-v11-latin-regular.woff') format('woff');
}

/* inter-500 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url('#{$font-path}/inter-v11-latin-500.woff2') format('woff2'),
	url('#{$font-path}/inter-v11-latin-500.woff') format('woff');
}

/* inter-700 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url('#{$font-path}/inter-v11-latin-700.woff2') format('woff2'),
	url('#{$font-path}/inter-v11-latin-700.woff') format('woff');
}


/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''),
	url('#{$font-path}/montserrat-v23-latin-regular.woff2') format('woff2'),
	url('#{$font-path}/montserrat-v23-latin-regular.woff') format('woff');
}

/* montserrat-500 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local(''),
	url('#{$font-path}/montserrat-v23-latin-500.woff2') format('woff2'),
	url('#{$font-path}/montserrat-v23-latin-500.woff') format('woff');
}

/* montserrat-700 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(''),
	url('#{$font-path}/montserrat-v23-latin-700.woff2') format('woff2'),
	url('#{$font-path}/montserrat-v23-latin-700.woff') format('woff');
}