* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
	margin: 0;
	font-size: 100%;
	color: $color-text;
}

body {
	height: 100%;
	min-width: rem(320px);
	margin: 0;
	padding: 0;
	color: $color-text;
	font-family: "Inter", "Montserrat", "Arial", "Helvetica", sans-serif;
	font-size: $font-size-base;
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	background-color: $background;
}

a {
	display: block;
	color: $color-text;
	text-decoration: none;
	cursor: pointer;
}

picture {
	line-height: 0;
}

img {
	display: block;
	line-height: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
}

h1 {
	margin: 0 0 rem(30px) 0;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: rem(46px);
	color: $white;
	text-transform: uppercase;
}

h2 {
	margin: 0 0 rem(30px) 0;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: rem(34px);
	text-transform: uppercase;
	color: $black;

	@media #{$screen-desktop} {
		margin: 0 0 rem(20px) 0;
		font-size: rem(30px);
	}

	@media #{$screen-tablet} {
		font-size: rem(26px);
	}
}

h3 {
	margin: 0 0 (30px) 0;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: rem(28px);
	text-transform: uppercase;
	color: $color2;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: inherit;
}

li {
	color: inherit;
}

input {
	padding: rem(5px) 0;
	background-color: transparent;
	border: none;
	border-bottom: rem(1px) solid $color4;
	outline: none;
}

select {
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: rem(1px) solid $color4;
}

.btn {
	padding: rem(10px) rem(40px);
	color: $black;
	border: none;
	border-radius: rem(3px);
	background-color: $color4;
	outline: none;
	font-family: "Montserrat";
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: .3s ease;

	&:hover {
		color: $white;
		background-color: $color2;
	}

}