.footer {
	padding: rem(40px) 0 rem(70px);
	color: $white;
	font-size: rem(15px);
	background-color: $color5;

	@media #{$screen-mobile} {
		padding: rem(30px) 0 rem(40px);
		font-size: rem(13px);
	}

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media #{$screen-desktop} {
			flex-direction: column;
			align-items: center;
		}
	}

	&__text {
		margin-right: rem(80px);

		@media #{$screen-desktop} {
			margin-right: 0;
			margin-bottom: rem(20px);
		}
	}

	&__link {
		position: relative;
		margin-right: auto;
		color: $white;

		@media #{$screen-desktop} {
			margin-right: 0;
			margin-bottom: rem(20px);
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: rem(5px);
			width: 0;
			height: 1px;
			background-color: $white;
			transition: .3s;
		}

		&:hover {
			color: $color4;

			&::after {
				width: 100%;
			}
		}
	}

	&__socials {
		display: flex;
	}

	&__socials-text {
		color: $color4;
		margin-right: rem(30px);

		@media #{$screen-mobile} {
			margin-right: rem(20px);
		}
	}

	&__socials-link {
		color: $color4;

		&:hover {
			color: $white;
		}

		&:not(:last-child) {
			margin-right: rem(24px);

			@media #{$screen-mobile} {
				margin-right: rem(16px);
			}
		}
	}
}