.header {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	min-height: rem(80px);
	padding: 0 rem(60px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: $white;
	box-shadow: 0 rem(2px) rem(6px) rgba(0, 0, 0, 0.1);

	@media #{$screen-mobile} {
		min-height: rem(50px);
		padding: 0 rem(30px);
	}

	&__logo {

		@media #{$screen-mobile} {
			width: rem(200px);
		}
	}

	&__bar {
		position: relative;
		display: flex;
		align-items: center;
		padding: rem(5px) rem(8px);
		color: $color5;
		border: rem(1px) solid $color4;
		font-size: rem(18px);

		@media #{$screen-desktop} {
			border: none;
			padding: 0;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 0;
			background-color: #A57F7A;
			z-index: -1;
			transition: all 0.3s ease;
		}

		&:hover {
			color: $white;
			transition: all 0.3s ease;

			&::before {
				width: 100%;
			}

			& svg,
			& span {
				color: $white;
			}
		}

		& svg {
			margin-right: rem(10px);
			color: $color2;
		}

		& p {
			@media #{$screen-desktop} {
				display: none;
			}
		}

		& span {
			margin-left: rem(8px);
			font-style: italic;
			color: $color2;

			@media #{$screen-desktop} {
				display: none;
			}
		}
	}
}