.myslider {
	background-color: $color5;
	padding: rem(90px) 0 0 0;

	@media #{$screen-tablet} {
		padding-top: rem(70px);
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: baseline;
		margin-bottom: rem(40px);
	}

	&__h2 {
		margin: 0 rem(40px);
		color: $color4;
	}

	&__img {
		border-radius: rem(8px);
		box-shadow: rem(4px) rem(4px) rem(15px) rgba($color: $black, $alpha: .3);
	}
}

.swiper-button-prev,
.swiper-button-next {
	position: static;
	height: rem(10px);
	color: $color4;
	outline: none;
}

.swiper-container {
	position: relative;
	max-width: rem(1780px);
	padding: rem(100px) 0 rem(180px) 0;

	@media #{$screen-tablet} {
		padding: rem(120px) 0 rem(150px) 0;
	}

	@media #{$screen-mobile} {
		padding: rem(80px) 0 rem(150px) 0;
	}
}

.swiper-slide {
	transition: .5s;
	filter: blur(1px);

	& img {
		filter: grayscale(1);
	}
}

.swiper-slide-prev,
.swiper-slide-next {
	z-index: 5;
	transition: .5s;
	transform: scale(1.2);
	filter: blur(0);
}

.swiper-slide-active {
	z-index: 10;
	transition: .5s;
	transform: scale(1.5);
	filter: none;

	& img {
		filter: grayscale(.3);
	}
}