.offer {
	padding: rem(90px) 0 rem(75px) 0;

	@media #{$screen-desktop} {
		padding: rem(60px) 0;
	}

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: rem(80px);
		align-items: center;

		@media #{$screen-desktop} {
			grid-template-columns: 1fr;
		}
	}

	&__content {
		padding-right: rem(30px);

		@media #{$screen-desktop} {
			grid-row: 1;
			margin-bottom: rem(30px);
		}
	}

	&__h2 span {
		color: $color2;
	}

	&__text {
		font-size: rem(20px);
		color: $color5;

		@media #{$screen-desktop} {
			font-size: rem(18px);
		}

		@media #{$screen-mobile} {
			font-size: rem(16px);
		}
	}
}