.policy-hero {
	position: relative;

	&__img {
		max-height: 980px;
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__h1 {
		font-size: 24px;
		font-weight: 400;
		text-align: center;

		@media #{$screen-tablet} {
			margin-bottom: 0;
		}

		@media #{$screen-mobile} {
			font-size: 18px;

		}
	}

	&__link {
		color: $white;
		animation: arrow-down 1s alternate ease-out infinite;

		&:hover {
			animation-play-state: paused;
		}

		@media #{$screen-desktop} {
			display: none;
		}
	}
}

// -----------------------------

.policy-content {
	padding: 120px 0;

	@media #{$screen-desktop} {
		padding: 80px 0;
	}

	@media #{$screen-mobile} {
		padding: 60px 0;
	}

	&__container {
		max-width: 900px;
		padding: 0 25px;
		margin: 0 auto;
	}

	&__h2 {
		margin-bottom: 25px;
		color: $color5;
		font-size: 23px;
		font-weight: 700;
		text-transform: none;

		@media #{$screen-desktop} {
			font-size: 18px;
			margin-bottom: 10px;
		}

		@media #{$screen-mobile} {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

	&__text {
		margin-bottom: 40px;
		font-family: Montserrat;
		font-size: 15px;
		line-height: 22px;

		@media #{$screen-desktop} {
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 18px;
		}

		@media #{$screen-mobile} {
			margin-bottom: 25px;
			font-size: 13px;
			line-height: 17px;
		}
	}

	&__contacts {
		padding-top: 20px;
		font-family: Montserrat;
		font-weight: 600;

		@media #{$screen-tablet} {
			padding-top: 15px;
			font-size: 14px;
		}

		@media #{$screen-mobile} {
			padding-top: 10px;
			font-size: 13px;
		}
	}
}