.thanks {
	position: relative;
	min-height: 100%;
	height: auto;
	margin-top: rem(-138px);

	@media #{$screen-desktop} {
		margin-top: rem(-177px);
	}

	@media #{$screen-mobile} {
		margin-top: rem(-133px);
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: rem(620px);
		width: 100%;
		padding: 0 rem(30px);

	}

	&__h1 {
		color: $black;
		text-align: left;
		text-transform: none;

		@media #{$screen-tablet} {
			font-size: rem(40px);
		}

		@media #{$screen-mobile} {
			font-size: rem(30px);
		}
	}

	&__message {
		color: $color5;
		font-size: rem(20px);
		line-height: rem(30px);
		text-align: center;

		@media #{$screen-mobile} {
			font-size: rem(18px);
			line-height: rem(24px);
		}
	}
}