.contform {

	&__fieldset {
		border: none;
		display: flex;
	}

	&__row {
		display: flex;
		width: 100%;

		@media #{$screen-tablet} {
			flex-wrap: wrap;
		}
	}

	&__label {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 50px;
		font-size: 14px;
		text-transform: uppercase;

		@media #{$screen-tablet} {
			margin-bottom: 30px;
		}

		@media #{$screen-mobile} {
			font-size: 12px;
		}

		&:not(:last-child) {
			margin-right: 30px;

			@media #{$screen-tablet} {
				margin-right: 0;
			}
		}
	}

	&__input {
		width: 100%;
		font-size: 18px;

		@media #{$screen-mobile} {
			font-size: 16px;
		}
	}

	&__select {
		width: 100%;
		padding-top: 9px;
		font-size: 18px;

		@media #{$screen-mobile} {
			font-size: 16px;
		}
	}

	&__textarea {
		background-color: transparent;
		resize: none;
		margin-top: 10px;
		font-size: 18px;

		@media #{$screen-mobile} {
			font-size: 16px;
		}
	}

	&__btn {

		line-height: 20px;
		padding-top: 20px;
		padding-bottom: 35px;
		font-weight: 500;

		@media #{$screen-mobile} {
			width: 100%;
		}
	}
}