.contform {

	&__fieldset {
		border: none;
		display: flex;
	}

	&__row {
		display: flex;
		width: 100%;

		@media #{$screen-tablet} {
			flex-wrap: wrap;
		}
	}

	&__label {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: rem(50px);
		font-size: rem(14px);
		text-transform: uppercase;

		@media #{$screen-tablet} {
			margin-bottom: rem(30px);
		}

		@media #{$screen-mobile} {
			font-size: rem(12px);
		}

		&:not(:last-child) {
			margin-right: rem(30px);

			@media #{$screen-tablet} {
				margin-right: 0;
			}
		}
	}

	&__input {
		width: 100%;
		font-size: rem(18px);

		@media #{$screen-mobile} {
			font-size: rem(16px);
		}
	}

	&__select {
		width: 100%;
		padding-top: rem(9px);
		font-size: rem(18px);

		@media #{$screen-mobile} {
			font-size: rem(16px);
		}
	}

	&__textarea {
		background-color: transparent;
		resize: none;
		margin-top: rem(10px);
		font-size: rem(18px);

		@media #{$screen-mobile} {
			font-size: rem(16px);
		}
	}

	&__btn {
		line-height: rem(20px);
		padding-top: rem(20px);
		padding-bottom: rem(35px);

		@media #{$screen-mobile} {
			width: 100%;
		}
	}
}