.icon {
	&--phone {
		width: 18px;
		height: 18px;
	}

	&--social {
		width: 24px;
		height: 24px;
	}

	&--facebook {
		width: 24px;
		height: 24px;
	}

	&--instagram {
		width: 24px;
		height: 24px;
	}

	&--linkedin {
		width: 24px;
		height: 24px;
	}

	&--twitter {
		width: 24px;
		height: 24px;
	}

	&--youtube {
		width: 24px;
		height: 24px;
	}

	&--chevron-down {
		width: 24px;
		height: 24px;
	}

	&--home {
		width: 24px;
		height: 24px;
	}
}