.icon {
	&--phone {
		width: rem(18px);
		height: rem(18px);
	}

	&--social,
	&--facebook,
	&--instagram,
	&--linkedin,
	&--twitter,
	&--youtube,
	&--chevron-down,
	&--home {
		width: rem(24px);
		height: rem(24px);
	}
}